html {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

form {
    width: 60vw;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid whitesmoke;
}

header {
    width: 60vw;
    max-width: 1000px;
    text-align: center;
    border: 1px solid #f7f2f4;
    border-radius: 10px;
    margin: 30px auto;
    padding-bottom: 10px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.student-info{
    width: 100%;
    height: 20px;
}

.preference{
    margin: 10px 5px;
}

input[type="radio"]{
    margin-left: 10px;
    display: inline-block;
}

input[type="submit"]{
    margin: 10px auto;
    display: block;
    width: 150px;
    max-width: 100%;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border-color: whitesmoke;
}